/* *{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;

}

.box-one{
    background-color: #EB5757;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 20px solid #9B51E0;
    margin: 60px;
}

.box-two{
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid #9B51E0;
    margin: 60px;
}
*/

/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline;
}
*/


.box-one{
    box-sizing: content-box; /*padding is added to width + heigh */
    width: 700px;
    height: 300px;
    background-color: white;

    padding: 50px;
    border: 30px solid black;
}

.box-two{
    box-sizing: border-box; /*padding is included in total width + height */
    width: 700px;
    height: 300px;
    background-color: blue;

    padding: 50px;
    border: 30px solid black;

}

body{
    font-family: sans-serif;

}

p,
ul{
    border: 2px solid rebeccapurple;
    width: 200px;
    /*p adding: 0.2em;*/
}

span,
.block,
 li {
    border: 2px solid blue;
    /*padding: 0.2em;*/
    margin: 20px;
    padding: 20px;
    width: 80px;
    height: 150px;
    background-color: lightblue;
    display: inline-block;

}

ul{
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.block{
    display: block;
}

.inline{
    display: inline;
}

.box{
    box-sizing: content-box;
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}

.alternate{
    box-sizing: border-box;
    width: 390px;
    height: 240px;
}

.container{
    border: 5px solid blue;
    margin: 40px;
}

.box-1{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 10px;
    height: 100px;
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
}

/*Margins*/
.container-1{
    border: 5px solid blue;
    margin: 40px;
}

p{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 10px;
}

.one{
    margin-bottom: 50px;
}

.two{
    margin-top: 30px;
}

/*Borders*/
.container-border{
    margin: 40px;
    padding: 20px;
    border-top: 5px dotted green;
    border-right: 1px solid black;
    border-bottom: 20px double rgb(23 45 145);
}

.box-border{
    padding: 20px;
    background-color: lightgray;
    border: 1px solid #333333;
    border-top-style: dotted;
    border-right-width: 20px;
    border-bottom-color: hotpink;
}

/*Padding*/
.box-padding{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}

.container-padding{
    border: 5px solid blue;
    margin: 40px;
    padding: 20px;
}
